[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
joblib = "*"
streamlit = "*"

[dev-packages]
jupyter = "*"
nbconvert = "*"

[requires]
python_version = "3.9"
